/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap");

/* Reset and generic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #003300;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #003300;
}

#navbar {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
}

#navbar > li {
  margin-right: 1rem;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px #3a3a3a;
  padding: 0 1rem;
  display: none;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
  flex: 1;
  margin-top: 103px;
}

/* Hero section */
#hero {
  height: 500px;
  width: 100%;
  background: url(../images/golf-3.jpeg) no-repeat center center/cover;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 3rem;
}

#overlay-text {
  position: absolute;
  bottom: 200px;
  left: 100px;
  width: 80%;
  color: #ffffff;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
}

/* Footer */
#social-links {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-links i {
  font-size: 2rem;
  padding: 5%;
  color: #003300;
}

/* Media queries */
@media screen and (min-width: 363px) {
  main {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #navbar > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 2.8rem;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 130px;
  }
}

@media screen and (min-width: 870px) {
  main {
    margin-top: 73px;
  }
}

@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  main {
    margin-top: 72px;
  }
}
/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap");

/* Reset and generic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #003300;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #003300;
}

#navbar {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
}

#navbar > li {
  margin-right: 1rem;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 2px #3a3a3a;
  padding: 0 1rem;
  display: none;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
  flex: 1 0 auto;
  margin-top: 103px;
}

/* Hero section */
#hero {
  height: 500px;
  width: 100%;
  background: url(../images/golf-3.jpeg) no-repeat center center/cover;
  text-align: center;
  position: relative;
}

h2 {
  font-size: 2rem;
}

#overlay-text {
  color: #ffffff;
  position: absolute;
  top: 50%;
  /* Move the top edge to the vertical center */
  left: 50%;
  /* Move the left edge to the horizontal center */
  transform: translate(-50%, -50%);
  /* Center the text horizontally and vertically */
  width: 80%;
  font-style: italic;
  font-weight: bold;
  font-size: 110%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
  text-align: center;
  /* Center the text within the overlay */
}

/* Image section */
.image {
  max-width: 50%;
  float: left;
  margin-right: 20px;
}

/* Footer */
#social-links {
  text-align: center;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-links i {
  font-size: 2rem;
  padding: 5% 5% 4% 5%;
  color: #003300;
}

/* Media queries */
@media screen and (min-width: 363px) {
  main {
    margin-top: 64px;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #navbar > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 2.8rem;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 130px;
  }
}

@media screen and (min-width: 870px) {
  main {
    margin-top: 73px;
  }
}

@media screen and (min-width: 992px) {
  #menu a:hover {
    border-bottom: 1px solid #3a3a3a;
  }

  main {
    margin-top: 72px;
  }
}
