/* Google fonts import */
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700&family=Montserrat:wght@300&display=swap");

/* Golf-themed color scheme */
:root {
  --primary-color: #006400;
  /* Dark green */
  --secondary-color: #3cb371;
  /* Medium sea green */
  --accent-color: #ffd700;
  /* Gold */
}

/* Reset and generic styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #3a3a3a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

h3 {
  font-weight: bold;
  font-size: 200%;
  font-style: italic;
}

/* Header */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  z-index: 99;
  background-color: var(--primary-color);
  color: white;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

#navbar {
  font-size: 110%;
  letter-spacing: 2px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  box-shadow: 0 2px 2px #3a3a3a;
  z-index: 100;
  text-align: center;
  background-color: var(--primary-color);
}

#navbar > li {
  margin-right: 0;
  padding: 1rem 0;
  border-bottom: 1px solid #3a3a3a;
}

.active {
  border-bottom: 1px solid var(--accent-color);
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 2px #3a3a3a;
  padding: 0 1rem;
  display: none;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: flex;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  display: block;
  cursor: pointer;
}

/* Main content */
main {
  flex: 1 0 auto;
  margin-top: 115px;
}

/* Home page */
/* Welcome section */
#welcome {
  position: relative;
  background-color: var(--secondary-color);
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#welcome p {
  font-size: 1rem;
  color: #333;
}

/* Hero section */
#hero {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

.hero-content {
  flex: 1;
  padding: 20px;
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 50%;
  border: 3px solid var(--primary-color);
  max-width: 300px;
  margin: 10px auto;
  padding: 15px;
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Images on homepage */
.hero-image,
.background-image {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* History section */
#history {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Opening hours section */
#opening-hours {
  position: relative;
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
  color: #333;
}

td {
  text-align: left;
}

/* The Course page */
#golf-course {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

.golf-info {
  margin-bottom: 20px;
}

/* Style for the video container */
.video-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Scorecard section */
#scorecard {
  text-align: center;
  padding: 20px;
  background-color: var(--secondary-color);
}

.scorecard-content {
  margin-bottom: 20px;
}

/* Scorecard image container */
.scorecard-image {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scorecard image */
.scorecard-image img {
  height: auto;
  max-width: 100%;
  height: auto;
  border: 2px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* Facilities page */
/* Main content */
main {
  padding: 20px;
}

/* Individual sections */
section {
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

p {
  font-size: 0.95rem;
}

/* Image sections */
#driving-range,
#putting-green,
#clubhouse {
  text-align: center;
  padding: 20px;
  background-color: white;
  border: solid var(--primary-color);
}

.text-content {
  padding: 10px;
  margin-bottom: 20px;
}

.image-content img,
.putting-image img,
.clubhouse-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/* Membership page */
/* Membership form */
#benefits,
#contact,
#membership {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

/* Style for headings */
#mini-header {
  font-size: 1.5rem;
  color: var(--primary-color);
}

/* Style for list items in the benefits section */
#benefits ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 15px;
}

/* Style for contact information */
#contact p {
  margin-top: 15px;
}

/* Style for the membership form */

#membership p {
  margin-top: 15px;
}

#membership form {
  max-width: 280px;
  margin: 0 auto;
  font-size: 1rem;
  margin-top: 20px;
}

/* Style for form labels */
#membership form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

/* Style for form inputs and select */
#membership form input[type="text"],
#membership form input[type="email"],
#membership form input[type="tel"],
#membership form select,
#membership form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

/* Style for form submit button */
#membership form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

/* Footer */
footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px 0;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex-basis: 100%;
  text-align: center;
  padding: 0 20px;
  color: white;
}

.contact-info p {
  margin: 10px 0;
}

#social-links {
  flex-basis: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#social-links li {
  margin: 0;
  padding: 0 10px;
}

#social-links a {
  text-decoration: none;
}

#social-links i {
  font-size: 2rem;
  color: white;
}

/* Media queries */
@media screen and (min-width: 768px) {
  /* Header */
  nav {
    display: flex;
    position: relative;
    padding: 1rem;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  }

  #navbar {
    flex-direction: row;
    justify-content: space-between;
    box-shadow: none;
  }

  #navbar > li {
    padding: 0 1rem;
    border-bottom: none;
    font-size: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  /* Footer */
  footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  .footer-content {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .contact-info {
    flex-basis: 100%;
    text-align: center;
    padding: 0 20px;
    color: white;
    margin-bottom: 20px;
  }

  #social-links {
    flex-basis: 100%;
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #social-links li {
    margin: 0;
    padding: 0 30px;
  }

  #social-links a {
    text-decoration: none;
  }

  #social-links i {
    font-size: 2rem;
    color: white;
  }

  /* Hero section */
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
  }

  /* Circular border for hero content */
  .hero-content {
    flex: 1;
    padding: 20px;
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px auto;
    max-width: 800px;
  }

  /* Background image styles */
  .background-image,
  .hero-image {
    width: 50%;
    height: auto;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  /* Paragraph styles inside hero section */
  #hero p {
    font-size: 1rem;
    color: #333;
    background-color: var(--secondary-color);
    padding: 20px;
    flex: 1;
    position: relative;
    z-index: 2;
  }

  /* History section */
  #history {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  /* Opening hours section */
  #opening-hours {
    margin-top: 20px;
  }

  /* The Course page */

  /* Scorecard image container */
  .scorecard-image {
    max-width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /* Scorecard image itself */
  .scorecard-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  /* Facilities page */
  /* Image sections */
  #driving-range,
  #putting-green,
  #clubhouse {
    text-align: center;
    padding: 20px;
    background-color: white;
    border: solid var(--primary-color);
    margin-left: 10%;
    margin-right: 10%;
  }

  .text-content {
    padding: 10px;
    margin-bottom: 20px;
  }

  .image-content img,
  .putting-image img,
  .clubhouse-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 50%;
  }
}

@media screen and (min-width: 870px) {
  #navbar > li {
    font-size: 1.2rem;
  }

  p {
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 992px) {
  #navbar > li {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
  }
}
